.git/*
.settings/*
resources/*
target/*
.classpath
.project
**/.DS_Store


**/*.xlsx
**/*.xlsm
**/*.xls
**/*.csv
**/*.txt

**/*.log

**/*.class

**/*.jar
**/*.war
**/*.ear
**/*.zip
**/*.tar.gz
**/*.rar
**/*.pdf
